
header{
  background-color: darkgray;
}
header nav{
width: 960px;
margin: auto;
display: flex;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}
#logo{
  padding: 8px;
}
main{
  background-color: gray;
  width: 960px;
  margin: 30px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
main img{
  margin-bottom: 30px;
}

main article{
  width: 450px;  
}
main article section{
  overflow: auto;
  height: 320px;
}
footer{
  background-color: rgb(187, 178, 178);
  height: 50px;
}
